/* Arial Regular */
/* Lato Regular */
/* Trebuchet MS Regular */
/* Lato Bold */
/* BASIC */

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('../fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

/* HEADER */
.container--header {
    position: relative;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A398A;
    position: absolute;
    width: 267px;
    height: 103px;
    top: 0;
    left: 0;
    z-index: 100;
}

/* HERO */

.hero {
    background-color: #8A7B60;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 219px;
    padding-bottom: 213px;
}

.hero__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero__subtitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
    max-width: 550px;
}
.hero__decor {
    position: absolute;
    width: 363px;
    height: 368px;
    background-image: url("../images/decor-gray.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    bottom: -72px;
}

/* INFO */

.info {
    padding-top: 100px;
    padding-bottom: 100px;
}
.info__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.info__video {
    position: relative;
    width: 545px;
    height: 365px;
}

.info__video::before {
    content: "";
    position: absolute;
    background-color: #F7EEE5;
    width: 100%;
    height: 100%;
    top: -37px;
    left: -35px;
    z-index: -1;
}

.info__text {
    max-width: 545px;
}
.info__title {
    font-family: 'Lato', sans-serif;
    font-size: 66px;
    text-transform: uppercase;
    font-weight: 700;
    color: #8A7B60;
    margin-bottom: 32px;
}
.info__title-description {
    display: block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: #0A3B93;
    margin-top: 30px;
}
.info__description {
    font-size: 18px;
    line-height: 30px;
    color: #6C5F4A;
    margin-top: 0;
    margin-bottom: 20px;
}

.info__description:last-child {
    margin-bottom: 0;
}