/* Верстка должна быть адаптивной. Брейкпоинты:
L -> 1340px+ Здесь ширина контейнера 1250px, как в макете
M -> 1020px - 1339px Здесь ширина контейнера 930px.
S -> 700px - 1019px Здесь ширина контейнера 610px.
XS -> 0 - 699px Здесь контейнер должен быть отзывчивым, минимальная ширина шаблона 300 */

/* HERO */

@media (max-width: 1139px) {
    .container {
        max-width: 848px;
    }
    .logo {
        margin-left: 20px;
    }
    .hero {
        padding-top: 238px;
        padding-bottom: 181px;
    }
    .hero__title {
        margin-bottom: 28px;
    }
    .hero__decor {
        display: none;
    }
}

@media (max-width: 960px) {
    .logo {
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 167px;
        height: 64px;
    }
    .logo__img {
        width: 150px;
    }
    .hero {
        padding-top: 119px;
        padding-bottom: 95px;
    }
    .hero__title {
        font-size: 36px;
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 322px;
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 700px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding-right: 16px;
        padding-left: 16px;
    }

    .hero {
        padding-top: 119px;
        padding-bottom: 153px;
    }

    .hero__title {
        font-size: 24px;
        line-height: 24px;
    }
    .hero__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 420px) {
    .hero__subtitle {
        max-width: 223px;
    }
}

/* INFO */

@media (max-width: 1139px) {
    .info {
        padding-top: 80px;
        padding-bottom: 62px;
    }
    .info__wrapper {
        align-items: start;
    }
    .info__video {
        width: 405px;
        height: 271px;
        margin-top: 100px;
    }
    .info__video::before {
        top: -27px;
        left: -41px;
    }
    .info__text {
        width: 417px;
    }
}
@media (max-width: 1019px) {
    .container {
        max-width: 569px;
    }
    .info {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .info__wrapper {
        flex-direction: column-reverse;
        gap: 73px;
    }
    .info__text {
        max-width: 100%;
        width: 100%;
    }
    .info__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .info__title-description {
        font-size: 12px;
        margin-top: 13px;
    }
    .info__description {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 20px;  
    }
    .info__video {
        box-sizing: border-box;
        width: 100%;
        height: 361px;
        margin-top: 0;
        padding-left: 30px;
    }
    .info__video::before {
        width: calc(100% - 30px);
        top: -42px;
        left: 0;
    }
}
@media (max-width: 699px) {
    .container {
        max-width: 569px;
    }
    .info {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .info__wrapper {
        gap: 50px;
    }
    .info__title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .info__description {
        margin-bottom: 20px;
    }
    .info__video {
        height: 174px;
    }

    .info__video::before {
        width: calc(100% - 30px);
        top: -20px;
        left: 3px;
    }
}

/* NOTE */

@media (max-width: 1139px) {
    .note {
        overflow: hidden;
    }
    .note:before {
        display: none;
    }
    .note__decor {
        width: 436px;
        height: 322px;
        right: -282px;
        bottom: -50px;
    }
}
@media (max-width: 1019px) {
    .note {
        padding-top: 50px;
        padding-bottom: 32px;
    }
    
    .note__text {
        font-size: 16px;
        line-height: 20px;
        max-width: 435px;
    }
    .note__btn {
        width: 22px;
        height: 28px;
        margin-right: 27px;
    }
    .note__decor {
        width: 179px;
        height: 132px;
        right: 0;
        bottom: 0;
    }
}
@media (max-width: 699px) {
    .note {
        padding-top: 32px;
    }
    .note__wrapper {
        align-items: start;
    }
    .note__btn {
        margin-right: 7px;
    }
    .note__text {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .note__decor {
        right: -10px;
        bottom: -64px;
    }
}

/* SLOGAN */
@media (max-width: 1139px) {
    .slogan__title {
        margin-bottom: 32px;
    }
    .slogan__description {
        line-height: 32px;
        margin-bottom: 32px;
    }
}

@media (max-width: 1019px) {
    .slogan {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .slogan__title {
        font-size: 30px;
        line-height: 46px; 
        margin-bottom: 10px; 
    }
    .slogan__title::before,
    .slogan__title::after {
        width: 15px;
        height: 1px;
    } 
    .slogan__title::before {
        left: -26px;
    }
    .slogan__title::after {
        right: -26px;
    }
    .slogan__description {
        font-size: 16px;
        line-height: 20px;
        max-width: 428px;
        margin: 0 auto 12px auto;
    }
    .goto-link {
        font-size: 14px;
        width: 171px;
        padding: 10px 20px;
    }
}

@media (max-width: 699px) {
    .slogan {
        padding-top: 27px;
        padding-bottom: 60px;
    }
    .slogan__title {
        font-size: 18px;
    }
    .slogan__description {
        margin-bottom: 30px;
    }
    .goto-link {
        font-size: 18px;
        width: 197px;
        padding: 10px 20px;
    }
}

/* ADVANTAGES */
@media (max-width: 1139px) {
    .advantages {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .section-title {
        margin-bottom: 32px;
    }
    .advantages__list {
        row-gap: 35px;
        column-gap: 20px;
    }
    .advantages__item {
        width: 260px;
        height: 343px;
    }
}

@media (max-width: 1019px) {
    
}

@media (max-width: 699px) {
}